In [4]:
#for converting api into json format
import json
#for url
from urllib.parse import urlencode
import numpy as np
import pandas as pd
#for getting url
import requests
# for understanding patterns
import re
# for parsing url
from bs4 import BeautifulSoup
# for formatting date,time
from datetime import datetime

In [10]:
required_city = 'Mumbai'
location_url = 'https://locator-service.api.bbci.co.uk/locations?'+ urlencode({
    'api_key':'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    'stack':'aws',
    'locale':'en',
    'filter':'international',
    'place-types':'settlement,airport,district',
    'order':'importance',
    's':required_city,
    'a':'true',
    'format':'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&s=Mumbai&a=true&format=json'

In [11]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'id': '1275339',
     'name': 'Mumbai',
     'container': 'India',
     'containerId': 1269750,
     'language': 'en',
     'timezone': 'Asia/Kolkata',
     'country': 'IN',
     'latitude': 19.07283,
     'longitude': 72.88261,
     'placeType': 'settlement'}],
   'totalResults': 1}}}

In [4]:
url = 'https://www.bbc.com/weather/'+ result ['response']['results']['results'][0]['id']
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.content,'html.parser')

In [6]:
daily_high_values = soup.find_all('span',attrs={'class':'wr-day-temperature__high-value'})
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">84°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">83°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">84°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">84°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>]

In [7]:
daily_low_values = soup.find_all('span',attrs={'class':'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>]

In [8]:
daily_summary = soup.find('div',attrs={'class':'wr-day-summary'})
daily_summary

<div class="wr-day-summary"><div class="gel-wrap"><span class="">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a gentle breeze</span><span class="wr-hide">Thundery showers and a gentle breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a gentle breeze</span><span class="wr-hide">Thundery showers and a gentle breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span></div></div>

In [11]:
daily_high_values[0].text.strip()

'29° 85°'

In [12]:
daily_low_values[0].text.strip()

'26° 79°'

In [13]:
daily_high_values[0].text.strip().split()[0]

'29°'

In [14]:
daily_high_value_list = [daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
daily_high_value_list

['29°',
 '29°',
 '29°',
 '29°',
 '29°',
 '29°',
 '30°',
 '30°',
 '31°',
 '31°',
 '31°',
 '31°',
 '31°',
 '31°']

In [15]:
daily_low_value_list = [daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]
daily_low_value_list

['26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°',
 '27°']

In [16]:
daily_summary.text

'Thundery showers and a moderate breezeThundery showers and a gentle breezeThundery showers and a gentle breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a gentle breezeThundery showers and a gentle breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breeze'

In [17]:
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*',daily_summary.text)
daily_summary_list

['Thundery showers and a moderate breeze',
 'Thundery showers and a gentle breeze',
 'Thundery showers and a gentle breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a gentle breeze',
 'Thundery showers and a gentle breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze']

In [23]:
datelist = pd.date_range(datetime.today(),periods = len(daily_high_values)).tolist()
datelist

[Timestamp('2023-06-26 07:02:02.612174', freq='D'),
 Timestamp('2023-06-27 07:02:02.612174', freq='D'),
 Timestamp('2023-06-28 07:02:02.612174', freq='D'),
 Timestamp('2023-06-29 07:02:02.612174', freq='D'),
 Timestamp('2023-06-30 07:02:02.612174', freq='D'),
 Timestamp('2023-07-01 07:02:02.612174', freq='D'),
 Timestamp('2023-07-02 07:02:02.612174', freq='D'),
 Timestamp('2023-07-03 07:02:02.612174', freq='D'),
 Timestamp('2023-07-04 07:02:02.612174', freq='D'),
 Timestamp('2023-07-05 07:02:02.612174', freq='D'),
 Timestamp('2023-07-06 07:02:02.612174', freq='D'),
 Timestamp('2023-07-07 07:02:02.612174', freq='D'),
 Timestamp('2023-07-08 07:02:02.612174', freq='D'),
 Timestamp('2023-07-09 07:02:02.612174', freq='D')]

In [27]:
datelist = [datelist[i].date().strftime('%y-%m-%d') for i in range (len(datelist))]
datelist

['23-06-26',
 '23-06-27',
 '23-06-28',
 '23-06-29',
 '23-06-30',
 '23-07-01',
 '23-07-02',
 '23-07-03',
 '23-07-04',
 '23-07-05',
 '23-07-06',
 '23-07-07',
 '23-07-08',
 '23-07-09']

In [29]:
zipped = zip(datelist,daily_high_value_list,daily_low_value_list,daily_summary_list)
df=pd.DataFrame(list(zipped),columns=['Date','High','Low','Summary'])
display(df)

        Date High  Low                                 Summary
0   23-06-26  29°  26°  Thundery showers and a moderate breeze
1   23-06-27  29°  26°    Thundery showers and a gentle breeze
2   23-06-28  29°  26°    Thundery showers and a gentle breeze
3   23-06-29  29°  26°  Thundery showers and a moderate breeze
4   23-06-30  29°  26°  Thundery showers and a moderate breeze
5   23-07-01  29°  26°  Thundery showers and a moderate breeze
6   23-07-02  30°  26°  Thundery showers and a moderate breeze
7   23-07-03  30°  27°    Thundery showers and a gentle breeze
8   23-07-04  31°  27°    Thundery showers and a gentle breeze
9   23-07-05  31°  27°  Thundery showers and a moderate breeze
10  23-07-06  31°  27°  Thundery showers and a moderate breeze
11  23-07-07  31°  27°  Thundery showers and a moderate breeze
12  23-07-08  31°  27°  Thundery showers and a moderate breeze
13  23-07-09  31°  27°  Thundery showers and a moderate breeze

In [30]:
df.High = df.High.replace('\°','',regex=True).astype(float)
df.Low = df.Low.replace('\°','',regex=True).astype(float)

In [31]:
display(df)

        Date  High   Low                                 Summary
0   23-06-26  29.0  26.0  Thundery showers and a moderate breeze
1   23-06-27  29.0  26.0    Thundery showers and a gentle breeze
2   23-06-28  29.0  26.0    Thundery showers and a gentle breeze
3   23-06-29  29.0  26.0  Thundery showers and a moderate breeze
4   23-06-30  29.0  26.0  Thundery showers and a moderate breeze
5   23-07-01  29.0  26.0  Thundery showers and a moderate breeze
6   23-07-02  30.0  26.0  Thundery showers and a moderate breeze
7   23-07-03  30.0  27.0    Thundery showers and a gentle breeze
8   23-07-04  31.0  27.0    Thundery showers and a gentle breeze
9   23-07-05  31.0  27.0  Thundery showers and a moderate breeze
10  23-07-06  31.0  27.0  Thundery showers and a moderate breeze
11  23-07-07  31.0  27.0  Thundery showers and a moderate breeze
12  23-07-08  31.0  27.0  Thundery showers and a moderate breeze
13  23-07-09  31.0  27.0  Thundery showers and a moderate breeze

In [35]:
location = soup.find('h1',attrs={'id':'wr-location-name-id'})
location.text.split()

['Mumbai', '-', 'Weather', 'warnings', 'issued']

In [36]:
filename_csv = location.text.split()[0]+'.csv'
df.to_csv(filename_csv,index=None)

In [39]:
filename_xlsx=location.text.split()[0]+'.xlsx'
df.to_excel(filename_xlsx)